<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <label>
            <input #username matInput placeholder="Username" type="text">
          </label>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <label>
            <input #password matInput placeholder="Password" type="password">
          </label>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>
      <div class="register">
        <button (click)="signup(username.value, password.value)" color="primary" mat-raised-button type="submit">
          Register
        </button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-content>
    <span class="field" routerLink="/login">Already have an Account?</span>
  </mat-card-content>
</mat-card>
