<mat-toolbar color="primary">
  <button mat-button routerLink="/home">Quiz</button>
  <span class="flex-fill"></span>
  <button *ngIf="!authService.isLoggedIn" mat-stroked-button routerLink="/register">Register</button>
  <button *ngIf="!authService.isLoggedIn" mat-stroked-button routerLink="/login">Login</button>
  <button *ngIf="authService.isLoggedIn" class="menu" mat-stroked-button>{{authService.name | titlecase}}</button>
  <button (click)="authService.logout()" *ngIf="authService.isLoggedIn" class="menu" mat-stroked-button>Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>
