<mat-card>
  <mat-card-title>Reset Password</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <label>
            <input #username matInput placeholder="Enter your email" type="text">
          </label>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="login">
        <button (click)="reset(username.value)" color="primary" mat-raised-button type="submit">Send</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
